<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>ScreenCraft requires camera access to record your face while screen recording.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>ScreenCraft requires microphone access to record your voice.</string>
	<key>NSScreenCaptureUsageDescription</key>
	<string>ScreenCraft requires screen recording permission to capture your displays and windows.</string>
</dict>
</plist>
